<% unless @fixtures.empty? %>
    <h1>Submit your prediction</h1>
    <h3>welcome!! <%=@display_name%></h3>

    <%= form_for :prediction, html: {autocomplete: "off", :class=>'predictions_form'}, url: predictions_path do |f| %>

    <p class="error_message">The predictions for the fixtures highlighted in red are invalid as the goalscorer and scoreline has already been selected by another player. Please update and try to save again</p>

    <ul class="prediction_list">
        <div class="row">
        <% @fixtures.each_with_index do |fixture, index| %>
            <div class="span6">
                <li class="prediction" data-home-team="<%=fixture[:home_team]%>" data-away-team="<%=fixture[:away_team]%>">
                    <div class="fixture">
                        <%= f.label '', :class =>'home_team', :style => "background-image: url('/images/badges/desktop/#{fixture[:home_team]}.png');" %>
                        <%= f.select "home_team_score_#{index}", 0..9, {:selected => fixture[:home_team_score]}, { :class => 'home_team_score' } %>
                        <%= f.select "away_team_score_#{index}", 0..9, {:selected => fixture[:away_team_score]}, { :class => 'away_team_score' } %>
                        <%= f.label '', :class =>'away_team', :style => "background-image: url('/images/badges/desktop/#{fixture[:away_team]}.png');"  %>
                    </div>
                    <%	if bonus_fixture(fixture[:home_team], fixture[:away_team])  %>
                        <%= f.select "goal_scorer_#{index}", fixture[:players], {:selected => fixture[:goal_scorer]}, { :class => 'goal_scorer' } %>
                        <%= f.select "additional_goal_scorer_#{index}", fixture[:players], {:selected => fixture[:additional_goal_scorer]}, { :class => 'additional_goal_scorer' } %>
                    <% else %>
                        <%= f.select "goal_scorer_#{index}", fixture[:players], {:selected => fixture[:goal_scorer]}, { :class => 'goal_scorer' } %>
                    <% end %>

                    <%= f.hidden_field "home_team_#{index}", value:fixture[:home_team] %>
                    <%= f.hidden_field "away_team_#{index}", value:fixture[:away_team] %>
                    <%= f.hidden_field "kick_off_#{index}", value:fixture[:kick_off] %>
                    <%= f.hidden_field "prediction_id_#{index}", value:fixture[:prediction_id] %>
                </li>
            </div>
        <% end %>
        </div>
    </ul>
    <%= f.submit "save prediction", class:"submit_button"%>
<% end %>
<% end %>
<br>
<br>
<% if !@standings.nil? %>
    <table class="table table-striped user_standings">
        <thead>
            <tr>
                <th class="user">User</th>
                <th class="points">Points</th>
                <th class="prediction_order">Order</th>
            </tr>
        </thead>

        <tbody>

        <% @standings.each do |standing| %>
            <tr>
                <td class="user"><%= standing[:user] %></td>
                <td class="points"><%= standing[:points] %></td>
                <td class="prediction_order"><%= standing[:precedence] %></td>
            </tr>
        <% end %>
        </tbody>

    </table>

<% end %>
<br>
<br>

<% unless @predictions.empty? %>
    <table class="datatable prediction_table">
        <thead>
            <tr>
                <th>Player</th>
                <th>Fixture</th>
                <th>Scorer</th>
                <th>Additional Scorer</th>
                <th>status</th>
            </tr>
        </thead>
        <tbody>

        <%	@predictions.each do |prediction| %>
            <tr>
                <td class="name"><%= prediction.user.name %></td>
                <td class="fixture"><%= prediction.home_team %> <%= prediction.home_team_score%> - <%= prediction.away_team_score %> <%= prediction.away_team %></td>
                <td class="goal_scorer"><%= prediction.goal_scorer %></td>
                <td class="additional_goal_scorer"><%= prediction.additional_goal_scorer %></td>
                <td class="status"><%= prediction.prediction_status.status %></td>
            </tr>
        <%	 end %>
        </tbody>
    </table>


    <script type="text/javascript">
    $('.datatable').dataTable({
      "sDom": "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
      "sPaginationType": "bootstrap",
      "iDisplayLength": 25,
      "aaSorting": [[ 3, "desc" ],[ 1, "desc" ] ]
    });
    </script>
<% end %>



